


@media(min-width: 768px){
    .firstName{
        width: 50%;
    }
}

@media(min-width: 768px){
    .lastName{
        width: 50%;
    }
}

@media(min-width: 768px){
    .signup-input{
        width: 50%;
    }
}